In [1]:
# 数据导入
import pandas as pd
data = pd.read_csv('file:///home/hadoop/jupyternotebook/user_meal_rating.csv')
data.head(10)

           UserID  Rating  ReviewTime      Review      MealID
0  A2WOH395IHGS0T       5  1496177056  风味独特，真的不错！  B0040HNZTW
1  A32KHS0VN0N0HB       3  1496177108   有特色，也比较卫生  B006Z48TZS
2   A1YQ4Z5U9NIGP       5  1496177276    家常美味，推荐！  B00CDBTQCW
3  A3E5V5TSTAY3R9       4  1496179256          好吃  B00751IYQ4
4  A1V50CTTDJ73ZM       5  1496180009        不得不赞  B00C0OLT6S
5  A3GD8QRS50A6OB       5  1496180056    每周必点的一道菜  B006WC63X8
6   AK6G2ZYJVQ42D       5  1496180098     同事们都很喜欢  B0099JKR6U
7  A2FPYIU94BNC73       5  1496182040        性价比高  B0087YNHNI
8  A2WOH395IHGS0T       5  1496183065         有惊喜  B002A493NY
9   AM0LNXVIXZKKW       3  1496184000        味道一般  B002KGEORM

In [2]:
# 查询缺失值
data.isnull().sum()

UserID        0
Rating        0
ReviewTime    0
Review        0
MealID        0
dtype: int64

In [3]:
# 查询重复值
data.duplicated(subset=['UserID','Rating','MealID']).sum()

139

In [4]:
# 使用ReviewTime对字段升序排序
data=data.sort_values(by=['ReviewTime'])
data.head(10)

               UserID  Rating  ReviewTime      Review      MealID
11844  A2A6NH6DPE0VXR       4  1493576000      非常非常好吃  B000W4WD40
11847  A1MNDBR7DF0EU9       5  1493576000  太美味了，强烈推荐！  B002BLCNHY
11846   AT1BYQVGK7U71       5  1493576000       简直太赞了  B001SE07JG
11845  A328S9RN3U5M68       3  1493576000        味道很正  B001PN63PC
6121   A16H208JVRTMU4       5  1493576000  太美味了，强烈推荐！  B000WT7R6O
11843   ATDNMB4EB7ZY4       2  1493576000      有特色，好吃  B000NHRTAO
6122   A3VNYHAEKTHVPY       3  1493577600      非常非常好吃  B005GT575S
221    A13MM7UES60AAU       5  1493592000  太美味了，强烈推荐！  B008X0SGDC
220    A3TNYNA2360NPA       5  1493592000  太美味了，强烈推荐！  B008QTTGGG
219    A206S2JFUZ5WT1       5  1493592000  太美味了，强烈推荐！  B008O2QERY

In [5]:
# 删除重复值仅保留最新时间戳数据
data.drop_duplicates(inplace=True)
data.head(10)

               UserID  Rating  ReviewTime      Review      MealID
11844  A2A6NH6DPE0VXR       4  1493576000      非常非常好吃  B000W4WD40
11847  A1MNDBR7DF0EU9       5  1493576000  太美味了，强烈推荐！  B002BLCNHY
11846   AT1BYQVGK7U71       5  1493576000       简直太赞了  B001SE07JG
11845  A328S9RN3U5M68       3  1493576000        味道很正  B001PN63PC
6121   A16H208JVRTMU4       5  1493576000  太美味了，强烈推荐！  B000WT7R6O
11843   ATDNMB4EB7ZY4       2  1493576000      有特色，好吃  B000NHRTAO
6122   A3VNYHAEKTHVPY       3  1493577600      非常非常好吃  B005GT575S
221    A13MM7UES60AAU       5  1493592000  太美味了，强烈推荐！  B008X0SGDC
220    A3TNYNA2360NPA       5  1493592000  太美味了，强烈推荐！  B008QTTGGG
219    A206S2JFUZ5WT1       5  1493592000  太美味了，强烈推荐！  B008O2QERY

In [6]:
# 再次查重
data.duplicated().sum()

0

In [7]:
# 保存数据
data.to_csv('user_meal.csv',index=False)